markdown: kramdown
highlighter: rouge
permalink: /:categories/:title.html 
excerpt_separator: "<!-- more -->"

github: zhupite
author: "朱皮特"
email: pushebp#163.com
name: "朱皮特个人博客"
baseurl: /
url: http://www.zhupite.com
domain: www.zhupite.com
all_categories: [
    ["android", "Android开发","/posts/android.html"], 
    ["program", "软件编程","/posts/program.html"],
    ["web", "Web建站","/posts/web.html"], 
    ["python", "Python","/posts/python.html"],
    ["iot", "物联网","/posts/iot.html"],
    ["read", "读书笔记","/posts/read.html"], 
    ["other", "杂记","/posts/other.html"],
    ["duilib", "DUILIB","/posts/duilib.html"],
    ["lua", "Lua","/posts/lua.html"],
    ["js", "JavaScript","/posts/js.html"],
    ["myjob", "工作","/posts/myjob.html"],
    ["job", "职位内推","/posts/job.html"],
    ["about", "关于","/about.html"]
]

paginate: 10 
paginate_path: "index_:num"

index_layout: "index.html"
category_layout: "_layouts/category.html"
tag_layout: "_layouts/tag.html"

#不使用gems库中的jekyll-paginate-category
#使用基于jekyll-paginate改写的的栏目分页插件，所以jekyll-paginate还需要用上。
#gems: [jekyll-paginate,jekyll-paginate-category]
gems: [jekyll-paginate]

collections:
  docs:
    output: true

copyright: []
timezone: Asia/Shanghai