# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://zhupite.com
date_format: "ordinal"
title: 朱皮特的烂笔头
subtitle: "自由的飞翔"
description: "你不必等到非常厉害，才敢开始；你需要开始，才会变得非常厉害！"
keywords: 朱皮特, 程序员
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 5
repository: bigsinger/bigsinger.github.io
# 对 css 和 js 资源的 cdn 加速配置
cdn:
    jsdelivr:
        enabled: true
# 组件配置
components:
    # 分享
    share:
        enabled: false
    # 不蒜子访问统计
    busuanzi:
        enabled: true
        start_date: 2020-05-03
# 压缩页面内容
compress_html:
  clippings: all
  comments: ["<!--", "-->"]
# 文章字数统计
word_count:
    enabled: true
# 代码高亮风格，支持的 theme 列表见 https://github.com/mzlogin/rouge-themes
highlight_theme: github

# ---------------- #
#      Author      #
# ---------------- #
author: zhupite
organization: 
organization_url: 
github_username: bigsinger
location: Hangzhou, China
email: pushebp#163.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

#   -
#     href: /archives/
#     label: 归档

#   -
#     href: /open-source/
#     label: 开源

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 10
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:categories/:title.html
#permalink: /:year/:month/:day/:title/
plugins:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: 
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: bigsinger
    repo: blog-comments
    oauth:
        client_id: edc88f091827bc6d94e3
        client_secret: 76b470f021596b0eac8f1b0be0dd0a741d0ba3e9
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: bigsinger
    repo: blog-comments
    clientID: edc88f091827bc6d94e3
    clientSecret: 76b470f021596b0eac8f1b0be0dd0a741d0ba3e9
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: false
    # 最多显示多少条搜索结果
    limit: 20

# ---------------- #
#      Google      #
# ---------------- #
google:
    analytics_id: 254983313
    adsense:
        footer: true
        sidebar: true 
        content_header: true
        content_footer: false
