---
layout: page
title: "About"
description: "Hey, this is BIGSINGER."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        写写代码，做做设计，看看产品。
        世界那么大，多玩玩看看。
    </blockquote>
    我怎么能够把你来比作夏天？<br><br>
你不独比它可爱也比它温婉：<br><br>
狂风把五月宠爱的嫩蕊作践，<br><br>
夏天出赁的期限又未免太短：<br><br>
天上的眼睛有时照得太酷烈，<br><br>
它那炳耀的金颜又常遭遮掩：<br><br>
被机缘或无常的天道所摧折，<br><br>
没有芳艳不终于雕残或销毁。<br><br>
但是你的长夏永远不会雕落，<br><br>
也不会损失你这皎洁的红芳，<br><br>
或死神夸口你在他影里漂泊，<br><br>
当你在不朽的诗里与时同长。<br><br>
只要一天有人类，或人有眼睛，<br><br>
这诗将长存，并且赐给你生命。<br><br>
    <p style="text-align:right;">
    -- 莎士比亚
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Shall I compare thee to a Summer's day?<br><br>
Thou art more lovely and more temperate:<br><br>
Rough winds do shake the darling buds of May,<br><br>
And Summer's lease hath all too short a date:<br><br>
Sometime too hot the eye of heaven shines,<br><br>
And oft' is his gold complexion dimm'd;<br><br>
And every fair from fair sometime declines,<br><br>
By chance or nature's changing course untrimm'd:<br><br>
But thy eternal Summer shall not fade<br><br>
Nor lose possession of that fair thou owest;<br><br>
Nor shall Death brag thou wanderest in his shade,<br><br>
When in eternal lines to time thou growest:<br><br>
So long as men can breathe, or eyes can see,<br><br>
So long lives this, and this gives life to thee.<br><br>

    </p>


    <p style="text-align:right;">
    -- William Shakespeare
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
