{% if page.comments != false %}
  {% case site.comments_provider %}
  {% when 'giscus' %}
  <script src="https://giscus.app/client.js"
          data-repo="{{ site.giscus.repo }}"
          data-repo-id="{{ site.giscus.repo-id }}"
          data-category="{{ site.giscus.category }}"
          data-category-id="{{ site.giscus.category-id }}"
          data-mapping="title"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="light"
          data-lang="zh-CN"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
  {% endcase %}
{% endif %}
