            <ul class="list-unstyled">
              <li>
                <a href="http://www.panxw.com"><!-- 请保留友情链接，please remain as friend link-->
                  潘学文博客
                </a>
              </li>
              <li>
                <a href="http://www.ruanyifeng.com/blog/" target="_blank">
                  阮一峰的博客
                </a>
              </li>	
              <li>
                <a href="/links.html">
                  交换友情链接
                </a>
              </li>				  
            </ul>
