            <ul class="list-unstyled">
              <li>
                <a href="https://github.com" rel="nofollow">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://www.manongjc.com" target="_blank" rel="nofollow">
                  码农教程
                </a>
              </li>	
              <li>
                <a href="http://www.youth168.com" target="_blank" rel="nofollow">
                  青年励志网
                </a>
              </li>
              <li>
                <a href="http://xujinkai.info/" target="_blank" rel="nofollow"> 
                  JK的博客
                </a>
              </li>				  
            </ul>
