              {% if page.category!='index' %}
                  {% assign latestposts = site.categories[page.category] %} 
              {% else %}
                  {% assign latestposts = site.posts %}
              {% endif %}
              <div class="col-lg-12">
                <ul class="list-unstyled">
                    {% for post in latestposts limit:12 %}
                              <li>
                                <a href="{{ post.url }}">
                                  {{ post.title }}
                                </a>
                              </li>
                    {% endfor %} 
                </ul>
              </div>