            <div class="col-lg-12">
              <ul class="list-unstyled">
              <li>
                <a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=mlv9dicn&productCode=dmspre&utm_source=mlv9dicn" target="_blank" rel="nofollow">
                  阿里云幸运券购买服务，享实惠多多！
                </a>
              </li>
              <li>
                <a href="https://www.namesilo.com/register.php?rid=caa2f82dc" target="_blank"  rel="nofollow">
                  NameSillo买域名就送隐私保护，还不贵!
                </a>
              </li>	
              <li>
                <a href="https://www.linode.com/?r=6a1d2020e95d84a5d1e6706a659499b1cc0f28bd" target="_blank" rel="nofollow">
                  Linode高性能VPS，5$/月起，新开通送20$。
                </a>
              </li>	
              <li>
                <a href="https://bwh1.net/aff.php?aff=16961" target="_blank" rel="nofollow">
                  带ss的班瓦工VPS，2.99$/月或19.9$/年起。
                </a>
              </li>	
              <li>
                <a href="http://www.vultr.com/?ref=6879661" target="_blank" rel="nofollow">
                  VPS新秀Vultr，2.5$/月起，值得一试！
                </a>
              </li>			
            </ul>
          </div>
