.collection-head,.side-collection-image{-webkit-box-shadow:inset 0 10px 20px rgba(0,0,0,.1);text-shadow:0 1px 2px rgba(0,0,0,.3)}.collection-card-image,.collection-head,.side-collection-image{text-shadow:0 1px 2px rgba(0,0,0,.3)}.collection-head{padding:1.5rem 0;margin-top:-20px;margin-bottom:20px;background:url(../../images/octicons-bg.png) center #302F2F;box-shadow:inset 0 10px 20px rgba(0,0,0,.1);color:#fff}.collection-head.small{padding:.8rem 0}.collection-head.small .collection-title{padding:10px 0}.collection-head.small .collection-title h1.collection-header{font-size:30px}.collection-head a{color:#fff}.collection-head a:hover{text-decoration:none}.collection-head .collection-title{display:table-cell;padding:20px 0;vertical-align:middle}.collection-head .collection-info{margin:0}.collection-head .collection-info .meta-info{margin-right:15px}.collection-head .collection-info .avatar{background-color:rgba(255,255,255,.7);border:1px solid rgba(255,255,255,.7)}.collection-head .collection-head .container{position:relative}.collection-head .draft-tag{position:absolute;top:0;left:0}.collection-head .collection-header{margin-top:0;font-size:45px;line-height:1.5;font-weight:400}.collection-head .collection-description{position:relative;font-size:16px}.collection-page .collection-info{margin-top:10px;margin-bottom:20px;font-size:13px;color:#999}.collection-page .column.main{margin-right:260px!important}.collection-page .column.sidebar{width:240px}.collection-page .other-content{padding:20px 0 20px 20px;border-left:1px solid #f1f1f1}.collection-page .other-content .subnav-search{margin-left:0}.collection-page .other-content input.subnav-search-input{width:100%}.collection-page .other-content-title{margin-top:40px}.collection-page .other-content-title:first-child,.collection-search-result-title{margin-top:0}.side-collection-list{margin:0;list-style-type:none}.side-collection-link{display:table;width:100%;height:100px;color:#fff}.collection-card-title,.side-collection-image{height:100%;text-align:center;vertical-align:middle}.side-collection-item-title{font-size:16px;font-weight:100}.side-collection-image{background:url(../../images/octicons-bg.png) center #555;box-shadow:inset 0 10px 20px rgba(0,0,0,.1);color:#fff;display:table-cell;width:100%;margin-bottom:5px;border-radius:3px}.side-collection-list-item{margin-bottom:20px}.collection-tools{list-style-type:none;margin-bottom:10px;font-size:15px}.collection-tools .edit-link{color:#333}.collection-tools .edit-link:hover{color:#4183c4;cursor:pointer}.collection-tools .octicon{margin-right:5px}.collection-tools .select-menu-button{position:relative;display:inline-block;color:#333}.collection-tools .select-menu-button :hover{color:#4183c4;cursor:pointer}.collection-tool{margin-left:20px}.collection-search-results em{padding:.1em;background-color:#faffa6}.collection-search-result{margin-bottom:40px;list-style-type:none}.collection-search-page .search-results-info{line-height:33px;float:right;margin-left:10px;font-size:15px}.collection-listing{text-align:center}.collection-card{position:relative;display:inline-block;width:30%;max-width:313px;margin:0 10px 20px;list-style-type:none;background:#f7f7f7;border:1px solid #ddd;border-radius:3px;overflow:hidden}.collection-card .draft-tag{position:absolute;top:-1px;left:10px}.collection-card-title{padding:0 15px;margin:10px 0;display:table-cell;width:100%;font-size:19px;font-weight:700}.collection-card-body{padding:0 15px;margin:0 0 10px;height:3em;overflow:hidden;font-size:15px;line-height:1.5em}.collection-card-image{position:relative;display:table;width:101%;height:120px;margin:-1px -1px 15px;background:url(../../images/octicons-bg.png) center #555;-webkit-box-shadow:inset 0 10px 20px rgba(0,0,0,.1);box-shadow:inset 0 10px 20px rgba(0,0,0,.1);color:#fff;border-top-right-radius:3px;border-top-left-radius:3px}.collection-card-meta{padding:0 15px;margin-top:5px;margin-bottom:15px;color:#777;font-size:12px}.collection-card-meta .meta-info{margin-right:10px}.collection-card-meta .last-updated{float:right;margin-right:0}
.one-third-column {
  width: 33.333333%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.card-image {
    display: table;
    height: 120px;
    width: 100%;
    border-radius: 4px;
}

.card-image .card-image-cell {
    display: table-cell;
    vertical-align: middle;
}

.card-image h3 {
    margin: 0;
    font-size: 1.5em;
    color: white;
}

.card-image a {
    color: #fff;
}

.card-description {
    height: 3em;
    overflow: hidden;
}

.card:hover,
.card:active {
  text-decoration: none;
}

.card .thumbnail {
    border: 1px solid rgba(0,0,0,0.075);
    border-bottom-color: rgba(0,0,0,0.125);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 5px 10px rgba(0,0,0,0.05);
    -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    opacity: 0.8;
    overflow-x: hidden;
}

.card .thumbnail:hover{
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.15);
    box-shadow:0 2px 4px rgba(0,0,0,0.05),0 10px 18px rgba(0,0,0,0.1);
    opacity: 1;
}

.card .thumbnail:hover .card-title a{
    color:#000;
    text-decoration:none;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
}

.card-text {
  font-size: 0.75em;
  display: inline;
}

.card-text .meta-info {
    margin-right: 10px;
}
.repo-list-name,.repo-list-name .prefix,.repo-list-name .slash{font-weight:400}.repo-list{position:relative;padding-left:0}.repo-list .participation-graph{position:absolute;right:0;bottom:0;left:0;z-index:-1}.repo-list .participation-graph.disabled{display:none}.repo-list .participation-graph .bars{position:absolute;bottom:0}.repo-list-item{position:relative;padding-top:30px;padding-bottom:30px;list-style:none;border-bottom:1px solid #eee}.repo-list-name{margin:0 0 8px;font-size:20px;line-height:1.2}.repo-list-name:hover{text-decoration:none;color:#4169E1}.repo-list-name .slash{margin-right:-4px;margin-left:-4px}.repo-list-description{max-width:550px;margin-top:8px;margin-bottom:0;font-size:14px;color:#666}.repo-list-stats{margin-top:6px;float:right;font-size:12px;font-weight:700;color:#888}.repo-list-stats .repo-list-stat-item{margin-left:8px;display:inline-block;color:#888;text-decoration:none}.repo-list-stats .repo-list-stat-item:hover{color:#4183c4}.repo-list-stats .repo-list-stat-item>.octicon{font-size:14px}.repo-list-info{display:inline-block;height:100%;margin-top:0;margin-bottom:0;font-size:12px;color:#888;vertical-align:middle}.repo-list-info .octicon{margin-top:-3px;font-size:12px;vertical-align:middle}.repo-list-meta{display:block;margin-top:8px;margin-bottom:0;font-size:13px;color:#999}.repo-list-meta .avatar{margin-top:-2px}.repo-list-meta a:hover{text-decoration:none}.repo-list-meta .meta-info{margin-right:15px}.repo-list-meta .meta-info a{color:#999}.repo-list-meta .meta-info a:hover,.repo-list-meta .meta-info a:hover{text-decoration: underline}
.boxed-group{position:relative;border-radius:3px;margin-bottom:30px}.boxed-group .counter{color:#fff;background-color:#babec0}.boxed-group.flush .boxed-group-inner{padding:0}.boxed-group.condensed .boxed-group-inner{font-size:12px;padding:0}.boxed-group .heading,.boxed-group>h3{background-color:#f5f5f5;margin:0;border-radius:3px 3px 0 0;border:1px solid #d8d8d8;border-bottom:0;padding:9px 10px 10px;font-size:14px;line-height:17px;display:block}.boxed-group .heading a,.boxed-group>h3 a{color:inherit}.boxed-group .heading a.boxed-group-breadcrumb,.boxed-group>h3 a.boxed-group-breadcrumb{color:#666;font-weight:400;text-decoration:none}.boxed-group .heading .avatar,.boxed-group>h3 .avatar{margin-top:-4px}.boxed-group .tabnav.heading{padding:0}.boxed-group .tabnav.heading .tabnav-tab.selected{border-top:0}.boxed-group .tabnav.heading li:first-child .selected{border-left-color:#fff;border-top-left-radius:3px}.boxed-group .tabnav-tab{border-radius:0;border-top:0}.boxed-group code.heading{font-size:12px}.boxed-group.dangerzone>h3{background-color:#df3e3e;border:1px solid #a00;color:#fff;text-shadow:0 -1px 0 #900}.boxed-group.dangerzone .boxed-group-inner{border-top:0}.boxed-group.condensed>h3{padding:6px 6px 7px;font-size:12px}.boxed-group.condensed>h3 .octicon{padding:0 6px 0 2px}.dashboard-sidebar .boxed-group,.one-half .boxed-group{margin-bottom:20px}.boxed-group .bleed-flush{width:100%;padding:0 10px;margin-left:-10px}.boxed-group .compact{margin-top:10px;margin-bottom:10px}.boxed-group-inner{padding:1px 10px;background:#fff;border:1px solid #d8d8d8;border-bottom-left-radius:3px;border-bottom-right-radius:3px;color:#666;font-size:13px}.boxed-group-inner .help,.boxed-group-inner .tabnav-tab.selected{border-top:1px solid #ddd}.boxed-group-inner .markdown-body{padding:20px 10px 10px;font-size:13px}.boxed-group-inner.markdown-body{padding-top:10px;padding-bottom:10px}.boxed-group-inner.seamless{padding:0}.boxed-group-inner h4{margin:15px 0 -5px;font-size:14px;color:#000}.boxed-group-inner .tabnav{margin-left:-10px;margin-right:-10px;padding-left:10px;padding-right:10px}.boxed-group-inner .help{clear:both;margin:1em -10px 0;padding:1em 10px 1em 35px;color:#999}.boxed-group-inner .help .octicon{margin-left:-25px;margin-right:5px}.boxed-group-inner .flash-global{margin-left:-10px;margin-right:-10px;border-top:0}.boxed-action{float:right;margin-left:10px}.boxed-group-action{float:right;margin:6px 10px 0 0;position:relative;z-index:2}.boxed-group-action.flush{margin-top:0;margin-right:0}.boxed-group-action>button{background-color:transparent;border:0;-webkit-appearance:none}.boxed-group-icon{padding:4px;color:#777}.container {
  width: auto;
  max-width: 1020px;
  padding-left: 20px;
  padding-right: 20px
}

.mobile-visible {
  display: none
}

@media (max-width:60em) {
  .collection-card {
    width: 45%;
    height: 225px
  }
}

@media (max-width:35em) {
  .collection-card {
    width: 100%;
    max-width: 350px;
    margin: 10px auto
  }
}

@media (max-width:50em) {
  .mobile-block {
    display: block;
    float: none
  }
  .mobile-hidden {
    display: none
  }
  .mobile-visible {
    display: inline-block
  }
  .mobile-md-section {
    padding: 10px 0
  }
  .column,
  .one-third-column {
    width: 100%!important;
    float: none;
  }
  .home .banner .collection-head {
    padding: 1rem 1rem 1rem 0;
  }
  .home .collection-head .collection-title {
    padding: 0;
  }
  .collection-head .collection-header {
    line-height: 1;
  }
  .collection-head.small .collection-title h1.collection-header {
    font-size: 1.25em;
  }
  .collection-head .collection-info .meta-info,
  .collection-head .collection-info .meta-info .octicon {
    font-size: 0.75em;
  }
  .site-header {
    padding-bottom: 0;
    padding-top: 5px;
  }
  .site-header h1, .site-header h1 .octicon {
    font-size: 1em;
  }
  .site-header .site-header-nav {
    float: right;
    display: none;
    margin-bottom: 0;
  }
  .site-header .site-header-nav .site-header-nav-item {
    padding: 0 .5rem;
    margin-left: 0;
    font-size: 1rem;
    text-align: right;
  }
  .collapsed {
    float: right;
    display: block;
    width: 22px;
    height: 2em;
    background-color: transparent;
    background-image: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }
  .collapsed:active {
    border: 1px solid transparent;
  }

  .collapsed .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #563d7c;
  }

  .collapsed .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  .mini-repo-list-item .owner.css-truncate-target,
  .mini-repo-list-item .repo-and-owner.css-truncate-target {
    max-width: 300px
  }
  .markdown-body h1 {
    font-size: 2rem
  }
  .markdown-body h2 {
    font-size: 1.4rem
  }
  .markdown-body h3 {
    font-size: 1.2rem
  }
  .markdown-body h4 {
    font-size: 1.1em
  }
  .markdown-body h5 {
    font-size: 1em
  }

  .tools-wrapper {
    bottom: 1em;
  }
}

@media (max-width:20em) {
  .site-header-nav .site-header-nav-item {
    min-width: 20%
  }
  .collection-head .collection-info .meta-info {
    display: block;
    margin-top: 15px
  }
}
#post-directory-module {
    z-index: 999;
}

.post-directory {
    font-size: 14px;
    background: #fff;
    overflow: hidden;
    width: 300px;
    padding-bottom: 1em;
    border: 1px solid #efefef;
    color: #999;
}

.post-directory ul,
.post-directory ol {
    padding-left: 1.5em;
    list-style: none;
}

.post-directory strong {
    border-left: 5px solid #999;
    padding: 2px 5px 2px 15px;
}

.post-directory a {
    text-decoration: none;
    color: #bababa;
}

.post-directory a:hover,
.post-directory a:active,
.post-directory a.on {
    color: #4183c4;
}

.posts-list {
    line-height: 2;
    color: #555;
    list-style-type:disc;
}

.posts-list::before {
/*    content: " ";*/
    position: absolute;
    left: 0;
    top: 12px;
    width: 6px;
    height: 6px;
    margin-left: -4px;
    background: #bbb;
    border-radius: 50%;
    border: 1px solid #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: background;
}

.posts-list-item {
    border-bottom: 1px dashed #ccc;
    margin: 10px;
    padding: 0;
}

.posts-list-item a {
    font-size: 16px;
    font-weight: normal;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
    line-height: inherit;
    color: #666;
}

.posts-list-meta {
    font-size: 12px;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
    line-height: 2;
    color: #555;
    background: #fff;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}


.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-group-item>.badge {
    float: right;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
