---
layout: default
---

{% assign assets_base_url = site.url %}
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_base_url = "https://fastly.jsdelivr.net/gh/" | append: site.repository | append: '@master' %}
{% endif %}
<div class="page-header">
    <div class="container">
        <h1 class="page-title">{{ page.title }}</h1>
    </div>
</div>
<!-- / .page-header -->
<section class="container content">
    <div class="columns">
        <div class="column two-thirds" >
            <article class="article-content markdown-body">
                {{ content }}
            </article>
            <div class="share">
                {% include sns-share.html %}
            </div>
            <div class="comment">
                {% include comments.html %}
            </div>
        </div>
        <div class="column one-third">
            {% include sidebar-search.html %}
            {% include sidebar-categories-nav.html %}
            {% include sidebar-ad.html %}
        </div>
    </div>
</section>
<!-- /section.content -->
