---
layout: compress
---

{% assign assets_base_url = site.url %}
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_base_url = "https://fastly.jsdelivr.net/gh/" | append: site.repository | append: '@master' %}
{% endif %}
{% assign assets_images_url = '<img src="' | append: site.url | append: "/images" %}
{% include header.html %}
<div class="blog-layout">
    <main class="main-content">
      {{ content | replace: '<img src="/images', assets_images_url }}
    </main>
    <aside class="sidebar-content">
      {% include sidebar-profile.html %}
      {% include sidebar-search.html %}
      {% include sidebar-categories-cloud.html %}
      {% include sidebar-tags.html %}
      {% include sidebar-popular-repo.html %}
    </aside>
</div>
{% include footer.html %}
