---
layout: compress
---

{% assign assets_base_url = site.url %}
{% include header.html %}
<div class="blog-layout">
    <main class="main-content">
      {{ content }}
    </main>
    <aside class="sidebar-content">
      {% if page.layout == 'post' %}
        {% include sidebar-post.html %}
      {% else %}
        {% include sidebar-profile.html %}
        {% include sidebar-search.html %}
        {% include sidebar-discovery.html %}
        {% include sidebar-topics.html %}
        {% include sidebar-recent.html %}
        {% include sidebar-categories-cloud.html %}
      {% endif %}
    </aside>
</div>
{% include footer.html %}
