--- 
layout: default 
--- 
{% for cat in site.all_categories %}{% if page.category == cat[0] %}{% assign category_name = cat[1] %}{% assign category_link = cat[2] %}{% endif %}{% endfor %}
{% assign category_posts=site.categories[page.category] %}{% assign prevpost = nil %}{% assign nextpost = nil %}{% assign found = false %}
{% for post in category_posts %}{% if found==true %}{% assign prevpost = post %}{% break %}{% endif %}{% if page.url==post.url %}{% assign found = true %}{% endif %}{% if found==false %}{% assign nextpost = post %}{% endif %}{% endfor %}
{% assign category_posts=nil %}
<div  class="post_frame">
<!-- Navi -->
<div class="post_navi">
	<a href="/">首页</a>&nbsp;>&nbsp;
	<a href="{{ category_link }}">{{ category_name }}</a>&nbsp;>&nbsp;
	<span class="post_navi_span">正文</span>
</div>

<!-- Title -->
<div class="post_titlearea">
	<h1>{{ page.title }}</h1>
	<hr class="hrline"/>
	<div class="post_titledate"/>
		https://www.panxw.com&nbsp;&nbsp;&nbsp;
		栏目：<a href="{{ category_link }}">{{ category_name }}</a>&nbsp;&nbsp;&nbsp;
		{% if page.tags.size > 0%}
			标签：{% for tag in page.tags %}
					{% if tag != "" %}
					<a href="/tag/{{ tag }}.html">{{ tag }}</a>
					{% if forloop.index != page.tags.size %},
					{% endif %}
					{% endif %}
				 {% endfor %}
		{% endif %}&nbsp;&nbsp;&nbsp;
		日期：{{ page.date | date:"%Y-%m-%d" }}&nbsp;&nbsp;&nbsp;
		<span id="busuanzi_container_page_pv">阅读：<span id="busuanzi_value_page_pv"></span></span>
	</div>
</div>

<!-- adsense_468x60 -->
<div style="text-align:center;margin-top:15px">
	 {% include adsense_468x60.html %} 
</div>
<br/>

<!-- content -->
<div style="text-indent:2em;padding:10px">
{{ content }}
</div>

<div style="text-align:center">
	<div>
		<b>本文为原创文章，转载请注明出处：</b><a href="https://www.panxw.com">Panxw's Blog</a> » <a href="{{site.url}}{{page.url}}" title="{{page.name}}">{{ page.title }}</a>
	</div>
	<div class="friend_alert">
		如果本站内容帮助到了你，请记得收藏、分享，或打赏支持，谢谢！
	</div>
	<div id="donate_div" class="donate_block">
		<div class="donate_block_left">
			<img src="/images/donate_alipay.jpg" class="donate_block_image"/><br/>
			<div class="donate_block_title">支付宝</div>
		</div>
		<div class="donate_block_right">
			<img src="/images/donate_weixin.jpg" class="donate_block_image"/><br/>
			<div class="donate_block_title">微信</div>
		</div>
	</div>
	<div class="donate_button">
		<a onclick="donate()">打赏</a>
	</div>
</div>
<hr/>

<!-- next and previous -->
<div style="margin:10px">
  <span class="next">
		{% if prevpost %}
    上篇：
    <a href="{{prevpost.url}}">
      {{prevpost.title}}
    </a>
		{%else%}
			<a href="{{category_link}}">
				{{category_name}}
			</a>
		{%endif%} 
  </span>
  
  <div style="float:right">
  <span class="prev" >
		{% if nextpost %}
    下篇：
    <a href="{{nextpost.url}}">
      {{nextpost.title}}
    </a>
		{%else%}
			<a href="{{category_link}}">
				{{category_name}}
			</a>
		{%endif%}
  </span>
  </div>
  
</div>

<hr>
<!-- Blog Comments -->
<div class="media">
  {% include comment.html %} 
</div>

</div>

<!-- donate -->
<script type="text/javascript" src="/js/donate.js"></script>
